<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JomboneTestSuite">

	<listeners>

		<listener class-name="com.utilities.Reporting" />
	</listeners>

	<test name="TestNGTest1" thread-count="5">
		<classes>
			<!-- packagename.classname -->
<!--			<class name="com.testCases.JMB_CASignUp_001" />-->
<!--			<class name="com.testCases.JMB_CASignUp_002" />-->
			<class name="com.testCases.JMB_CASignUp_003" />
<!--			<class name="com.testCases.JMB_CASignUp_004" />-->
<!--			<class name="com.testCases.JMB_CASignUp_005" />-->
<!--			<class name="com.testCases.JMB_CASignUp_006" />-->
<!--			<class name="com.testCases.JMB_CASignUp_007" />-->
<!--			<class name="com.testCases.JMB_CASignUp_008" />-->
<!--			<class name="com.testCases.JMB_CASignUp_009" />-->
<!--			<class name="com.testCases.JMB_CASignUp_010" />-->
<!--			<class name="com.testCases.JMB_CASignUp_011" />-->
<!--			<class name="com.testCases.JMB_CASignUp_012" />-->
<!--			<class name="com.testCases.JMB_CASignUp_013" />-->
<!--			<class name="com.testCases.JMB_CASignUp_014" />-->
<!--			<class name="com.testCases.JMB_CASignUp_015" />-->
<!--			<class name="com.testCases.JMB_CASignUp_016" />-->
<!--			<class name="com.testCases.JMB_CASignUp_017" />-->
<!--			<class name="com.testCases.JMB_CASignUp_018" />-->
<!--			<class name="com.testCases.JMB_CASignUp_019" />-->
<!--			<class name="com.testCases.JMB_CASignUp_020" />-->
<!--			<class name="com.testCases.JMB_CASignUp_021" />-->
<!--			<class name="com.testCases.JMB_CASignUp_022" />-->
<!--			<class name="com.testCases.JMB_CASignUp_023" />-->
<!--			<class name="com.testCases.JMB_CASignUp_024" />-->
<!--			<class name="com.testCases.JMB_CASignUp_025" />-->
<!--			<class name="com.testCases.JMB_CASignUp_026" />-->
<!--			<class name="com.testCases.JMB_CASignUp_028" />-->
<!--			<class name="com.testCases.JMB_CASignUp_034" />-->
<!--			<class name="com.testCases.JMB_CASignUp_037_1" />-->
<!--			<class name="com.testCases.JMB_CASignUp_037_2" />-->
<!--			<class name="com.testCases.JMB_CASignUp_037_3" />-->
<!--			<class name="com.testCases.JMB_CASignUp_037_4" />-->
<!--			<class name="com.testCases.JMB_CASignUp_037_5" />-->
<!--			<class name="com.testCases.JMB_CASignUp_038" />-->
<!--			<class name="com.testCases.JMB_CASignUp_039" />-->
<!--			<class name="com.testCases.JMB_CASignUp_040" />-->
<!--			<class name="com.testCases.JMB_CASignUp_041" />-->
<!--			<class name="com.testCases.JMB_CASignUp_042_1" />-->
<!--			<class name="com.testCases.JMB_CASignUp_042_2" />-->
<!--			<class name="com.testCases.JMB_CASignUp_042_2_1" />-->
<!--			<class name="com.testCases.JMB_CASignUp_044" />-->
<!--			<class name="com.testCases.JMB_CASignUp_045" />-->
<!--			<class name="com.testCases.JMB_CASignUp_046_1" />-->
<!--			<class name="com.testCases.JMB_CASignUp_046_2" />-->
<!--			<class name="com.testCases.JMB_CASignUp_046_3" />-->
<!--			<class name="com.testCases.JMB_CASignUp_048" />-->
<!--			<class name="com.testCases.JMB_CASignUp_049" />-->
<!--			&lt;!&ndash;            failed to code properly    &ndash;&gt;-->
<!--			<class name="com.testCases.JMB_CASignUp_050" />-->
<!--			&lt;!&ndash;            failed to code properly    &ndash;&gt;-->
<!--			<class name="com.testCases.JMB_CASignUp_051" />-->
<!--			<class name="com.testCases.JMB_CASignUp_052" />-->
<!--			<class name="com.testCases.JMB_CASignUp_053" />-->
<!--			<class name="com.testCases.JMB_CASignUp_055" />-->
<!--			<class name="com.testCases.JMB_CASignUp_056" />-->


		</classes>
	</test>
</suite> <!-- Suite -->
